
<div class="sidebar-header">
    <input type="text" placeholder="Search" />
    <a href="javascript:;" class="search"></a>
</div>
<ul class="people">
  <li class="person" data-chat="person6">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/drake.jpg" alt=""/>
    <div class="person-info">
      <span class="name">Phoebe</span>
      <span class="preview">can you dome a favour?</span>

    </div>
    <span class="time">2:09 PM</span>
  </li>
  <li class="person" data-chat="person6">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/drake.jpg" alt=""/>
    <div class="person-info">
      <span class="name">John</span>
      <span class="preview">can you dome a favour?</span>

    </div>
    <span class="time">2:09 PM</span>
  </li>
  <li class="person" data-chat="person6">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/drake.jpg" alt=""/>
    <div class="person-info">
      <span class="name">Yize</span>
      <span class="preview">Going out</span>

    </div>
    <span class="time">1:09 PM</span>
  </li>


</ul>
